# Exploratory notebook for final project.

In [13]:
# general imports
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import shapefile as shp
import json
import requests
import datetime
import warnings 
warnings.filterwarnings("ignore")
# itertools handles the cycling
import itertools 
from pprint import pprint
import folium

# bokeh imports
from bokeh.plotting import figure, show
from bokeh.io import output_notebook
from bokeh.models import ColumnDataSource, FactorRange
from bokeh.models import Legend
from bokeh.core.properties import value
from bokeh.transform import factor_cmap
# select a palette
from bokeh.palettes import Spectral3
from bokeh.palettes import Category20b_13 as palette
from bokeh.palettes import Category20b_14 as palette2
from bokeh.transform import dodge

# sklearn imports
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, log_loss
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import log_loss
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve, auc
from sklearn import datasets, metrics, model_selection, svm
from sklearn.metrics import classification_report

sns.set(style='darkgrid', palette='muted', color_codes=True)

# Magic command useful jupyter notebook
%matplotlib inline

#Set plot size.
plt.rcParams['figure.figsize'] = [13,7]

#Set font size
plt.rcParams.update({'font.size':16})

ModuleNotFoundError: No module named 'folium'

In [6]:
%ls

 Volume in drive C is OS
 Volume Serial Number is CA75-D70B

 Directory of C:\Users\Magnu\OneDrive - Danmarks Tekniske Universitet\Kandidat\4Semester\social\Socialdata_project

03/31/2020  11:17 AM    <DIR>          .
03/31/2020  11:17 AM    <DIR>          ..
03/30/2020  06:55 PM    <DIR>          .git
03/31/2020  11:11 AM               201 .gitignore
03/31/2020  11:12 AM    <DIR>          .ipynb_checkpoints
03/29/2020  11:00 AM         3,230,809 Assignment1.ipynb
03/30/2020  06:55 PM         2,802,844 Assignment2_true.ipynb
03/31/2020  11:16 AM        93,200,443 DOHMH_New_York_City_Restaurant_Inspection_Results.csv
03/12/2020  01:50 PM            91,440 download.png
03/30/2020  06:30 PM            57,760 evaluate_total.PNG
03/31/2020  11:15 AM               653 FinalProject.ipynb
11/20/2019  12:03 PM        16,140,812 listings_sample.csv
03/31/2020  11:15 AM            11,645 Magnus_finalproject.ipynb
02/04/2020  11:35 AM       463,094,961 Police_Department_Incident_Reports__Historical_2003_to_May_2018.csv
02/20/2020  12:06 PM                26 README.md
11/20/2019  12:06 PM         2,019,521 reviews_sample.csv
03/16/2020  02:56 PM         3,379,529 weather_data.csv
03/31/2020  11:07 AM     3,056,873,154 yellow_tripdata_2015-01-06.csv.gz
              14 File(s)  3,640,903,798 bytes
               4 Dir(s)  183,244,259,328 bytes free

In [2]:
df = pd.read_csv('DOHMH_New_York_City_Restaurant_Inspection_Results.csv')

In [3]:
df.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA'],
      dtype='object')

In [4]:
df.count()

CAMIS                    402052
DBA                      401681
BORO                     402052
BUILDING                 401788
STREET                   402050
ZIPCODE                  396568
PHONE                    402035
CUISINE DESCRIPTION      402052
INSPECTION DATE          402052
ACTION                   400764
VIOLATION CODE           396492
VIOLATION DESCRIPTION    393097
CRITICAL FLAG            393097
SCORE                    385289
GRADE                    203739
GRADE DATE               201077
RECORD DATE              402052
INSPECTION TYPE          400764
Latitude                 401630
Longitude                401630
Community Board          396148
Council District         396160
Census Tract             396160
BIN                      394401
BBL                      401630
NTA                      396148
dtype: int64

In [5]:
df.isnull().sum()

CAMIS                         0
DBA                         371
BORO                          0
BUILDING                    264
STREET                        2
ZIPCODE                    5484
PHONE                        17
CUISINE DESCRIPTION           0
INSPECTION DATE               0
ACTION                     1288
VIOLATION CODE             5560
VIOLATION DESCRIPTION      8955
CRITICAL FLAG              8955
SCORE                     16763
GRADE                    198313
GRADE DATE               200975
RECORD DATE                   0
INSPECTION TYPE            1288
Latitude                    422
Longitude                   422
Community Board            5904
Council District           5892
Census Tract               5892
BIN                        7651
BBL                         422
NTA                        5904
dtype: int64

In [11]:
df = df[['CAMIS', 'CUISINE DESCRIPTION', 'STREET', 'SCORE', 'Latitude','Longitude']].dropna()

In [12]:
df.head()

,CAMIS,CUISINE DESCRIPTION,STREET,SCORE,Latitude,Longitude
0,40549885,Mexican,WEST KINGSBRIDGE ROAD,13.0,40.868621,-73.902168
1,40594703,Japanese,EAST 45 STREET,19.0,40.753164,-73.974161
2,41644384,Japanese,18 AVENUE,75.0,40.614953,-73.994406
3,41529391,Chinese,AVENUE T,12.0,40.615279,-73.918465
4,50073113,American,WOODHAVEN BLVD,11.0,40.708623,-73.859395

In [17]:
len(df.CAMIS.unique())

25982