In [280]:
# general imports
import pandas as pd
import numpy as np
import seaborn as sns
import json
import requests
import datetime
import warnings 
warnings.filterwarnings("ignore")


sns.set(style='darkgrid', palette='muted', color_codes=True)

# Magic command useful jupyter notebook
%matplotlib inline

#Set plot size.
plt.rcParams['figure.figsize'] = [13,7]

#Set font size
plt.rcParams.update({'font.size':16})

In [281]:
df_crash = pd.read_csv('data/Motor_Vehicle_Collisions_-_Crashes.csv')
df_vehicle = pd.read_csv('data/Motor_Vehicle_Collisions_-_Vehicles.csv')
df_people = pd.read_csv('data/Motor_Vehicle_Collisions_-_Person.csv')

## Clean crash dataset


In this section the data has been cleaned in the following way:

- See number of NaNs for all columns. Select the rows for furtner analysis
- Remove data without location
- Replace all null values except borough with 0 or 'Unspecified'
- Enrich Burough dataset

In [282]:
df_crash.head(50)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,05/14/2016,18:00,BRONX,10472,NaN,NaN,NaN,WHITE PLAINS ROAD,CROSS BRONX EXPRESSWAY,NaN,...,Unspecified,NaN,NaN,NaN,3443839,PASSENGER VEHICLE,MOTORCYCLE,NaN,NaN,NaN
1,06/01/2016,13:54,QUEENS,11414,40.655834,-73.839035,POINT (-73.839035 40.655834),CROSS BAY BOULEVARD,161 AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3453947,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
2,05/23/2016,6:15,NaN,NaN,40.752937,-73.922040,POINT (-73.92204 40.752937),NORTHERN BOULEVARD,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3452402,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3,06/03/2016,11:00,NaN,NaN,40.680893,-73.871376,POINT (-73.871376 40.680893),GLEN STREET,NaN,NaN,...,NaN,NaN,NaN,NaN,3482311,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
4,06/03/2016,17:15,QUEENS,11422,40.665558,-73.729850,POINT (-73.72985 40.665558),HOOK CREEK BOULEVARD,SUNRISE HIGHWAY,NaN,...,Unspecified,NaN,NaN,NaN,3455499,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
5,06/04/2016,13:20,BROOKLYN,11207,40.689530,-73.909134,POINT (-73.909134 40.68953),NaN,NaN,166 COVERT STREET,...,Unspecified,NaN,NaN,NaN,3455042,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
6,05/19/2016,12:50,QUEENS,11375,40.722940,-73.836876,POINT (-73.836876 40.72294),NaN,NaN,69-70 GRAND CENTRAL PARKWAY,...,Unspecified,NaN,NaN,NaN,3444578,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
7,05/12/2016,3:35,MANHATTAN,10010,40.738316,-73.987730,POINT (-73.98773 40.738316),EAST 20 STREET,PARK AVENUE SOUTH,NaN,...,Unspecified,NaN,NaN,NaN,3439699,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
8,05/27/2016,14:20,NaN,NaN,40.764770,-73.794900,POINT (-73.7949 40.76477),35 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3451983,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
9,05/27/2016,6:30,BRONX,10463,40.878160,-73.902756,POINT (-73.902756 40.87816),NaN,NaN,147 WEST 231 STREET,...,Unspecified,NaN,NaN,NaN,3446981,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
10,05/25/2016,9:05,NaN,NaN,40.755802,-73.986404,POINT (-73.986404 40.755802),WEST 42 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3447977,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
11,05/27/2016,19:00,NaN,NaN,40.705887,-73.942970,POINT (-73.94297 40.705887),BOERUM STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3451142,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
12,05/13/2016,19:00,NaN,NaN,40.614430,-74.039566,POINT (-74.039566 40.61443),Belt Pkwy,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3442389,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
13,05/20/2016,0:59,QUEENS,11413,40.682983,-73.746840,POINT (-73.74684 40.682983),NaN,NaN,130-51 220 STREET,...,Unspecified,NaN,NaN,NaN,3444789,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
14,05/18/2016,21:15,QUEENS,11363,40.768906,-73.736960,POINT (-73.73696 40.768906),NORTHERN BOULEVARD,CORNELL LANE,NaN,...,Unspecified,NaN,NaN,NaN,3452101,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
15,05/16/2016,15:20,QUEENS,11369,40.764740,-73.870600,POINT (-73.8706 40.76474),NaN,NaN,99-14 25 AVENUE,...,Unspecified,NaN,NaN,NaN,3443609,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
16,06/01/2016,14:30,NaN,NaN,NaN,NaN,NaN,ED KOCH BRIDGE,VERNON BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3453999,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
17,05/24/2016,9:03,STATEN ISLAND,10306,40.562130,-74.118190,POINT (-74.11819 40.56213),HYLAN BOULEVARD,OAK AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3452710,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
18,05/31/2016,15:45,BRONX,10467,40.869950,-73.870540,POINT (-73.87054 40.86995),NaN,NaN,3000 BRONX PARK EAST,...,Unspecified,NaN,NaN,NaN,3453273,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
19,05/15/2016,17:45,QUEENS,11101,40.754337,-73.920400,POINT (-73.9204 40.754337),NaN,NaN,42-11 35 AVENUE,...,Unspecified,Unspecified,NaN,NaN,3442873,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
20,05/23/2016,20:29,QUEENS,11361,40.757626,-73.780106,POINT (-73.780106 40.757626),NORTHERN BOULEVARD,203 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3452133,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
21,05/27/2016,15:00,NaN,NaN,40.672234,-73.884710,POINT (-73.88471 40.672234),ASHFORD STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3450587,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
22,06/02/2016,10:20,BROOKLYN,11210,40.626890,-73.945885,POINT (-73.945885 40.62689),AVENUE J,EAST 31 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3454493,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
23,06/02/2016,18:06,BROOKLYN,11207,40.673980,-73.899315,POINT (-73.899315 40.67398),LIBERTY AVENUE,ALABAMA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3456267,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
24,05/12/2016,19:30,NaN,NaN,40.719864,-73.944860,POINT (-73.94486 40.719864),BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Following Too Closely,Unspecified,NaN,NaN,3442598,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN
25,04/13/2020,12:20,NaN,NaN,NaN,NaN,NaN,NEW ENGLAND THRUWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4308754,Sedan,Box Truck,NaN,NaN,NaN
26,05/27/2016,16:20,QUEENS,11412,40.696274,-73.755990,POINT (-73.75599 40.696274),NaN,NaN,115-49 197 STREET,...,Unspecified,NaN,NaN,NaN,3446642,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
27,05/27/2016,1:17,MANHATTAN,10002,40.719970,-73.992905,POINT (-73.992905 40.71997),CHRYSTIE STREET,DELANCEY STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3679683,TAXI,BICYCLE,NaN,NaN,NaN
28,06/03/2016,20:35,BRONX,10472,40.829230,-73.875510,POINT (-73.87551 40.82923),WESTCHESTER AVENUE,STRATFORD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3456830,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
29,05/20/2016,11:25,NaN,NaN,40.721115,-73.805510,POINT (-73.80551 40.721115),162 STREET,UNION TURNPIKE,NaN,...,Unspecified,NaN,NaN,NaN,3451762,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
30,05/31/2016,11:00,BRONX,10470,40.902615,-73.851090,POINT (-73.85109 40.902615),NaN,NaN,4635 WHITE PLAINS ROAD,...,Turning Improperly,NaN,NaN,NaN,3447261,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
31,05/25/2016,7:08,NaN,NaN,NaN,NaN,NaN,QUEENS PLAZA,QUEENSBORO BRIDGE,NaN,...,Unspecified,NaN,NaN,NaN,3451878,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
32,05/13/2016,17:00,QUEENS,11413,40.666450,-73.757640,POINT (-73.75764 40.66645),SPRINGFIELD BOULEVARD,NORTH CONDUIT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3441355,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
33,05/20/2016,12:00,BROOKLYN,11206,40.700210,-73.953896,POINT (-73.953896 40.70021),LEE AVENUE,LORIMER STREET,NaN,...,Unspecified,NaN,NaN,NaN,3451085,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
34,05/22/2016,20:12,NaN,NaN,40.888992,-73.889200,POINT (-73.8892 40.888992),Major Deegan Expy,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3445289,MOTORCYCLE,PASSENGER VEHICLE,NaN,NaN,NaN
35,06/01/2016,7:11,MANHATTAN,10035,40.805637,-73.934400,POINT (-73.9344 40.805637),EAST 128 STREET,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3454399,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
36,05/16/2016,17:42,BRONX,10467,40.879170,-73.871376,POINT (-73.871376 40.87917),NaN,NaN,3510 WEBSTER AVENUE,...,Unspecified,NaN,NaN,NaN,3443914,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
37,05/12/2016,20:40,BROOKLYN,11238,40.674572,-73.963140,POINT (-73.96314 40.674572),WASHINGTON AVENUE,STERLING PLACE,NaN,...,Unspecified,NaN,NaN,NaN,3441219,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
38,05/26/2016,12:51,NaN,NaN,40.756670,-73.828804,POINT (-73.828804 40.75667),SANFORD AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3451968,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
39,05/16/2016,6:20,NaN,NaN,40.664960,-73.822260,POINT (-73.82226 40.66496),BELT PARKWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3444917,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN
40,05/30/2016,2:00,BRONX,10454,40.807556,-73.919235,POINT (-73.919235 40.807556),EAST 138 STREET,BROOK AVENUE,NaN,...,NaN,NaN,NaN,NaN,3448913,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
41,05/19/2016,15:25,BROOKLYN,11209,40.635143,-74.027530,POINT (-74.02753 40.635143),NaN,NaN,255 OVINGTON AVENUE,...,NaN,NaN,NaN,NaN,3444733,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
42,05/29/2016,15:15,NaN,NaN,40.728950,-73.971820,POINT (-73.97182 40.72895),Franklin D Roosevelt Dr,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,3447198,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
43,05/12/2016,17:15,BRONX,10473,40.821390,-73.866120,POINT (-73.86612 40.82139),NaN,NaN,810 SOUND VIEW AVENUE,...,NaN,NaN,NaN,NaN,3440524,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
44,06/02/2016,16:45,NaN,NaN,40.724895,-73.855130,POINT (-73.85513 40.724895),WETHEROLE STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3454816,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
45,05/23/2016,7:00,BROOKLYN,11221,40.691372,-73.912040,POINT (-73.91204 40.691372),NaN,NaN,1185 HANCOCK STREET,...,Unspecified,NaN,NaN,NaN,3446782,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
46,06/02/2016,14:59,NaN,NaN,NaN,NaN,NaN,BELT PKWY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3454475,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
47,05/29/2016,15:50,NaN,NaN,40.646470,-74.012580,POINT (-74.01258 40.64647),50 STREET,NaN,NaN,...,NaN,NaN,NaN,NaN,3450435,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
48,06/01/2016,18:47,MANHATTAN,10005,40.703570,-74.008040,POINT (-74.00804 40.70357),NaN,NaN,32 OLD SLIP,...,Unspecified,NaN,NaN,NaN,3452830,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
49,05/22/2016,15:50,MANHATTAN,10001,40.746056,-73.986700,POINT (-73.9867 40.746056),NaN,NaN,1 WEST 30 STREET,...,NaN,NaN,NaN,NaN,3620801,4 dr sedan,NaN,NaN,NaN,NaN

In [283]:
df_crash.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           509839
ZIP CODE                          510046
LATITUDE                          201721
LONGITUDE                         201721
LOCATION                          201721
ON STREET NAME                    330899
CROSS STREET NAME                 570911
OFF STREET NAME                  1433844
NUMBER OF PERSONS INJURED             17
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       4518
CONTRIBUTING FACTOR VEHICLE 2     227813
CONTRIBUTING FACTOR VEHICLE 3    1563865
CONTRIBUTING FACTOR VEHICLE 4    1649657
CONTRIBUTING FACTOR VEHICLE 5    1666553
COLLISION_ID                           0
VEHICLE TYPE CODE 1                 5944
VEHICLE TYPE CODE 2               280627
VEHICLE TYPE CODE 3              1535028
VEHICLE TYPE CODE 4              1621922
VEHICLE TYPE CODE 5              1661476
dtype: int64

In [284]:
df_crash = df_crash[['CRASH DATE','CRASH TIME','BOROUGH', 'LATITUDE', 'LONGITUDE',\
         'ON STREET NAME', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',\
          'NUMBER OF PEDESTRIANS INJURED','NUMBER OF PEDESTRIANS KILLED','NUMBER OF CYCLIST INJURED','NUMBER OF CYCLIST KILLED',\
          'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED','CONTRIBUTING FACTOR VEHICLE 1',\
         'CONTRIBUTING FACTOR VEHICLE 2','COLLISION_ID','VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']]

In [285]:
df_crash.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          509839
LATITUDE                         201721
LONGITUDE                        201721
ON STREET NAME                   330899
NUMBER OF PERSONS INJURED            17
NUMBER OF PERSONS KILLED             31
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      4518
CONTRIBUTING FACTOR VEHICLE 2    227813
COLLISION_ID                          0
VEHICLE TYPE CODE 1                5944
VEHICLE TYPE CODE 2              280627
dtype: int64

In [286]:
df_crash.dropna(subset=['LATITUDE', 'LONGITUDE'],inplace=True)

In [287]:
df_crash.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          338064
LATITUDE                              0
LONGITUDE                             0
ON STREET NAME                   278364
NUMBER OF PERSONS INJURED            15
NUMBER OF PERSONS KILLED             28
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      4034
CONTRIBUTING FACTOR VEHICLE 2    204314
COLLISION_ID                          0
VEHICLE TYPE CODE 1                5568
VEHICLE TYPE CODE 2              254536
dtype: int64

In [288]:
values = {'ON STREET NAME': 'Unspecified', 'NUMBER OF PERSONS INJURED': 'Unspecified', 'NUMBER OF PERSONS KILLED': 'Unspecified',\
          'CONTRIBUTING FACTOR VEHICLE 1': 'Unspecified','CONTRIBUTING FACTOR VEHICLE 2': 'Unspecified',\
         'VEHICLE TYPE CODE 1': 'Unspecified','VEHICLE TYPE CODE 2': 'Unspecified'}
df_crash.fillna(value=values,inplace=True)

In [289]:
df_crash.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          338064
LATITUDE                              0
LONGITUDE                             0
ON STREET NAME                        0
NUMBER OF PERSONS INJURED             0
NUMBER OF PERSONS KILLED              0
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1         0
CONTRIBUTING FACTOR VEHICLE 2         0
COLLISION_ID                          0
VEHICLE TYPE CODE 1                   0
VEHICLE TYPE CODE 2                   0
dtype: int64

# ENTER BOROUGH INFORMATION HERE

In [290]:
# Get names of indexes for which column Age has value 30
indexNames = df_crash[(df_crash['LATITUDE'] < 30) & (df_crash['LONGITUDE'] > -50)].index
 
# Delete these row indexes from dataFrame
df_crash.drop(indexNames , inplace=True)

In [291]:
#df_crash['geom'] = df_crash['LATITUDE'].map(str) + ',' + df_crash['LONGITUDE'].map(str)

In [292]:
#params = {'key': 'AIzaSyDgn7Nv9NQPZJi9UKB7VWdhVEGFF0EVAgg', 'latlng': '40.655834,-73.839035','result_type':'sublocality'}
#r = requests.get('https://maps.googleapis.com/maps/api/geocode/json',params=params)
#json_response = r.json()
#borough = json_response['results'][0]['address_components'][0]['long_name']

In [293]:
# Google api
def get_borough(col):
    params = {'key': 'AIzaSyDgn7Nv9NQPZJi9UKB7VWdhVEGFF0EVAgg', 'latlng': col,'result_type':'sublocality'}
    r = requests.get('https://maps.googleapis.com/maps/api/geocode/json',params=params)
    json_response = r.json()
    borough = json_response['results'][0]['address_components'][0]['long_name']
    return borough

In [294]:
df_crash.head()

,CRASH DATE,CRASH TIME,BOROUGH,LATITUDE,LONGITUDE,ON STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
1,06/01/2016,13:54,QUEENS,40.655834,-73.839035,CROSS BAY BOULEVARD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,3453947,PASSENGER VEHICLE,PASSENGER VEHICLE
2,05/23/2016,6:15,NaN,40.752937,-73.922040,NORTHERN BOULEVARD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,3452402,PASSENGER VEHICLE,PASSENGER VEHICLE
3,06/03/2016,11:00,NaN,40.680893,-73.871376,GLEN STREET,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,3482311,PASSENGER VEHICLE,Unspecified
4,06/03/2016,17:15,QUEENS,40.665558,-73.729850,HOOK CREEK BOULEVARD,0,0,0,0,0,0,0,0,Unspecified,Unspecified,3455499,PASSENGER VEHICLE,PASSENGER VEHICLE
5,06/04/2016,13:20,BROOKLYN,40.689530,-73.909134,Unspecified,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,3455042,PASSENGER VEHICLE,PASSENGER VEHICLE

## Clean vehicle set

In [295]:
df_vehicle.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,...,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
0,10385780,100201,09/07/2012,9:03,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
1,19140121,4229438,10/18/2019,18:00,52ae0029-b174-40c9-9ef5-abdd5fdb2704,NJ,Sedan,HYUN -CAR/SUV,NaN,2015.0,...,Parked,Left Front Bumper,Left Front Bumper,No Damage,No Damage,No Damage,N,NaN,Unspecified,Unspecified
2,14887647,3307608,10/02/2015,17:18,2,NY,TAXI,NaN,NaN,NaN,...,Going Straight Ahead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN
3,14889754,3308693,10/04/2015,20:34,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,Parked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
4,14400270,297666,04/25/2013,21:15,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Vehicular,NaN

In [296]:
df_vehicle.isnull().sum()

UNIQUE_ID                            0
COLLISION_ID                         0
CRASH_DATE                           0
CRASH_TIME                           0
VEHICLE_ID                           0
STATE_REGISTRATION              152152
VEHICLE_TYPE                    132033
VEHICLE_MAKE                   1713629
VEHICLE_MODEL                  3294186
VEHICLE_YEAR                   1720659
TRAVEL_DIRECTION               1607383
VEHICLE_OCCUPANTS              1668167
DRIVER_SEX                     1917770
DRIVER_LICENSE_STATUS          1971646
DRIVER_LICENSE_JURISDICTION    1961964
PRE_CRASH                       850587
POINT_OF_IMPACT                1628802
VEHICLE_DAMAGE                 1640673
VEHICLE_DAMAGE_1               2277825
VEHICLE_DAMAGE_2               2557501
VEHICLE_DAMAGE_3               2745625
PUBLIC_PROPERTY_DAMAGE         1528863
PUBLIC_PROPERTY_DAMAGE_TYPE    3331696
CONTRIBUTING_FACTOR_1            92818
CONTRIBUTING_FACTOR_2          1620959
dtype: int64

In [297]:
len(df_vehicle['COLLISION_ID'].unique())

1672226

In [298]:
df_vehicle = df_vehicle[['UNIQUE_ID','COLLISION_ID','CRASH_DATE','CRASH_TIME','VEHICLE_ID',\
                        'VEHICLE_TYPE','VEHICLE_YEAR','DRIVER_SEX','PRE_CRASH','POINT_OF_IMPACT','VEHICLE_DAMAGE',\
                        'CONTRIBUTING_FACTOR_1']]

In [299]:
df_vehicle.isnull().sum()

UNIQUE_ID                      0
COLLISION_ID                   0
CRASH_DATE                     0
CRASH_TIME                     0
VEHICLE_ID                     0
VEHICLE_TYPE              132033
VEHICLE_YEAR             1720659
DRIVER_SEX               1917770
PRE_CRASH                 850587
POINT_OF_IMPACT          1628802
VEHICLE_DAMAGE           1640673
CONTRIBUTING_FACTOR_1      92818
dtype: int64

In [300]:
values = {'VEHICLE_TYPE':'Unspecified','VEHICLE_YEAR':'Unspecified','DRIVER_SEX':'Unspecified',\
         'PRE_CRASH':'Unspecified','POINT_OF_IMPACT':'Unspecified','VEHICLE_DAMAGE':'Unspecified',\
         'CONTRIBUTING_FACTOR_1':'Unspecified'}
df_vehicle.fillna(value=values,inplace=True)

In [301]:
df_vehicle.isnull().sum()

UNIQUE_ID                0
COLLISION_ID             0
CRASH_DATE               0
CRASH_TIME               0
VEHICLE_ID               0
VEHICLE_TYPE             0
VEHICLE_YEAR             0
DRIVER_SEX               0
PRE_CRASH                0
POINT_OF_IMPACT          0
VEHICLE_DAMAGE           0
CONTRIBUTING_FACTOR_1    0
dtype: int64

In [302]:
df_vehicle.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,VEHICLE_TYPE,VEHICLE_YEAR,DRIVER_SEX,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,CONTRIBUTING_FACTOR_1
0,10385780,100201,09/07/2012,9:03,1,PASSENGER VEHICLE,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified
1,19140121,4229438,10/18/2019,18:00,52ae0029-b174-40c9-9ef5-abdd5fdb2704,Sedan,2015,Unspecified,Parked,Left Front Bumper,Left Front Bumper,Unspecified
2,14887647,3307608,10/02/2015,17:18,2,TAXI,Unspecified,Unspecified,Going Straight Ahead,Unspecified,Unspecified,Driver Inattention/Distraction
3,14889754,3308693,10/04/2015,20:34,1,PASSENGER VEHICLE,Unspecified,Unspecified,Parked,Unspecified,Unspecified,Unspecified
4,14400270,297666,04/25/2013,21:15,1,PASSENGER VEHICLE,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Other Vehicular

## Clean people set

In [303]:
df_people.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,...,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,10252788,4230640,10/25/2019,17:42,0278267c-0b21-470f-8a54-da71b7361448,Occupant,Unspecified,19142923.0,0.0,Not Ejected,...,Does Not Apply,"Any person in the rear of a station wagon, pic...",Unknown,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
1,10253512,4230733,10/10/2019,19:45,81161123-516c-438d-8f29-a107d2783d85,Occupant,Unspecified,19143291.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,NaN
2,10250662,4230235,10/26/2019,10:40,b5da9aa6-3230-4203-bbde-3b6f9248ac31,Occupant,Injured,19141868.0,11.0,Not Ejected,...,Entire Body,"Middle rear seat, or passenger lying across a ...",Unknown,NaN,NaN,Whiplash,Passenger,NaN,NaN,F
3,10252894,4231115,10/26/2019,18:45,4ed210b6-678c-4fe3-ae8c-3ecd30eae7aa,Pedestrian,Injured,NaN,30.0,NaN,...,Knee-Lower Leg Foot,Driver,None,Pedestrian/Bicyclist/Other Pedestrian at Inter...,Crossing Against Signal,Fracture - Distorted - Dislocation,Pedestrian,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Texting,M
4,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Notified Person,NaN,NaN,NaN

In [304]:
df_people.isnull().sum()

UNIQUE_ID                      0
COLLISION_ID                   0
CRASH_DATE                     0
CRASH_TIME                     0
PERSON_ID                     19
PERSON_TYPE                    0
PERSON_INJURY                  0
VEHICLE_ID                151782
PERSON_AGE                294988
EJECTION                 1911145
EMOTIONAL_STATUS         1864739
BODILY_INJURY            1864696
POSITION_IN_VEHICLE      1910875
SAFETY_EQUIPMENT         1910925
PED_LOCATION             3858762
PED_ACTION               3858863
COMPLAINT                1864689
PED_ROLE                  194895
CONTRIBUTING_FACTOR_1    3859973
CONTRIBUTING_FACTOR_2    3860035
PERSON_SEX                468460
dtype: int64

In [305]:
len(df_people)

3908459

In [306]:
df_people = df_people.drop(columns = ['PED_LOCATION','PED_ACTION','CONTRIBUTING_FACTOR_1','CONTRIBUTING_FACTOR_2',\
                                     'EJECTION','EMOTIONAL_STATUS','BODILY_INJURY','POSITION_IN_VEHICLE',\
                                     'SAFETY_EQUIPMENT','COMPLAINT'])

In [307]:
df_people.isnull().sum()

UNIQUE_ID             0
COLLISION_ID          0
CRASH_DATE            0
CRASH_TIME            0
PERSON_ID            19
PERSON_TYPE           0
PERSON_INJURY         0
VEHICLE_ID       151782
PERSON_AGE       294988
PED_ROLE         194895
PERSON_SEX       468460
dtype: int64

In [308]:
values = {'VEHICLE_ID':'Unspecified','PERSON_ID':'Unspecified','PERSON_AGE': 'Unspecified','PED_ROLE':'Unspecified',\
         'PERSON_SEX':'Unspecified'}
df_people.fillna(value=values,inplace=True)

In [309]:
df_people.isnull().sum()

UNIQUE_ID        0
COLLISION_ID     0
CRASH_DATE       0
CRASH_TIME       0
PERSON_ID        0
PERSON_TYPE      0
PERSON_INJURY    0
VEHICLE_ID       0
PERSON_AGE       0
PED_ROLE         0
PERSON_SEX       0
dtype: int64

In [310]:
df_people.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,PED_ROLE,PERSON_SEX
0,10252788,4230640,10/25/2019,17:42,0278267c-0b21-470f-8a54-da71b7361448,Occupant,Unspecified,1.91429e+07,0,Passenger,F
1,10253512,4230733,10/10/2019,19:45,81161123-516c-438d-8f29-a107d2783d85,Occupant,Unspecified,1.91433e+07,Unspecified,Registrant,Unspecified
2,10250662,4230235,10/26/2019,10:40,b5da9aa6-3230-4203-bbde-3b6f9248ac31,Occupant,Injured,1.91419e+07,11,Passenger,F
3,10252894,4231115,10/26/2019,18:45,4ed210b6-678c-4fe3-ae8c-3ecd30eae7aa,Pedestrian,Injured,Unspecified,30,Pedestrian,M
4,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,Unspecified,Unspecified,Notified Person,Unspecified

# CREATE CLEAN FILES

In [313]:
df_crash.to_csv('data/crash_clean.csv')
df_vehicle.to_csv('data/vehicle_clean.csv')
df_people.to_csv('data/people_clean.csv')